body {
font-family: arial;
  background-color: lightgrey
}

p {
  font-family: arial;
  font-size: 15px;
  color: darkgrey;
}

div {
  background-color: white;
  width: 300px;
  color: black;
}

nav {
  background-color: white;
  
}

